<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <% people.forEach(person=> {%>
        <tr>
          <td><%= person.name %></td>
          <td><%= person.gender %></td>
          <td><%= person.age %></td>
          <td><%= person.location %></td>
        </tr>
      <%}) %>
    </tbody>
  </table>